.container {
  max-width: max-content;
  padding: 20px;
  background-color: #162625;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 120;
}

.container p {
  text-align: center;
  margin-bottom: 20px;
}

.btns {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: max-content;
  margin: 0 auto;
}