.formContainer {
  max-width: 500px;
  margin: 0 auto 70px auto;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto;
  column-gap: 15px;
  grid-template-areas: 
  'input btn'
  'err err';
  align-items: center;
}

.formContainer input {
  grid-area: input;
  padding: 10px;
  border: none;
  color: #B0D9CD;
  background-color: #2E5955;
}

.formContainer input::placeholder {
  color: #B0D9CD;
  font-family: 'Inter', sans-serif;
}

.formContainer input.erro {
  border-bottom: 2px solid #E2313C;
}

.btnAdicionar {
  grid-area: btn;
  padding: 5px 8px;
}

.formContainer label {
  grid-area: err; 
  font-size: 14px;
  margin-top: 5px;
  color: #E2313C;
}