.btn {
  display: block;
  height: 100%;
  padding: 10px;
  border: none;
  font-family: 'Inter', sans-serif;
}

.btn:hover {
  cursor: pointer;
}

.btn.adicionar {
  padding: 10px 15px;
  color: #B0D9CD;
  background-color: #2E5955;
}

.btn.excluir {
  color: #fff;
  height: fit-content;
  background-color: #E2313C;
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn.editar {
  color: #fff;
  height: fit-content;
  background-color: #7BA6A1;
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn.filtro {
  color: #fff;
  background-color: #2E5955;
}

.btn.modificar {
  background-color: #2E5955;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}