.container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  position: relative;
}

.data {
  flex: 0 0 121px;
  height: fit-content;
  padding: 10px;
  background-color: #162625;
}

.btnCheck {
  border: none;
  padding: 11px;
  margin: 0 5px;
  background-color: #162625;
}

.btnCheck:hover {
  cursor: pointer;
}

.conteudo {
  flex: 0 1 100%;
  padding: 10px;
  background-color: #162625;
}

.mostrarBtns {
  padding: 9px 10px;
  transition: 0.3s;
  background-color: #162625;
  border: none;
  display: flex;
  gap: 5px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.mostrarBtns:hover {
  cursor: pointer;
  transition: 0.3s;
  background-color: #2E5955;
}

.mostrarBtns span {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #D9D9D9;
}

.containerBtns {
  flex: 0 0 175px;
  display: flex;
  transition: 0.3s;
  overflow-x: hidden;
}

.containerBtns.fechar {
  flex: 0 0 0;
  display: flex;
  transition: 0.3s;
  overflow-x: hidden;
}