.formContainer {
  max-width: 500px;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  display: grid;
  grid-template-columns: 1fr 110px;
  grid-template-rows: 30px;
  gap: 15px;
}

.formContainer input, button {
  border: none;
  font-size: 12px;
  padding: 0 10px;
  color: #B0D9CD;
  background-color: #2E5955;
  transition: 0.3s;
}

.formContainer input::placeholder {
  color: #B0D9CD;
}

.formContainer button:hover {
  cursor: pointer;
  transition: 0.3s;
  background-color: #34746d;
}