* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  color: #B0D9CD;
  background-color: #111B1C;
}

.logo {
  margin: 40px auto 50px auto;
  max-width: auto;
  display: block;
}

.container {
  max-width: 785px;
  margin: 0 auto;
}