.container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btnFiltro {
  color: #fff;
  border: none;
  background-color: transparent;
  padding: 10px;
}

.btnFiltro:hover {
  cursor: pointer;
}

.containerFitros {
  display: flex;
  align-items: center;
  gap: 5px;
  overflow-x: hidden;
}

.containerFitros.aberto {
  max-width: 255px;
  transition: 0.3s;
  overflow-x: hidden;
}

.containerFitros.fechado {
  max-width: 0;
  transition: 0.3s;
}