.container {
  display: flex;
  align-items: center;
}

.btnsContainer {
  max-width: 0;
  display: flex;
  align-items: center;
  gap: 5px;
  overflow-x: hidden;
  transition: 0.3s;
}

.btnsContainer.aberto {
  max-width: 250px;
  transition: 0.3s;
  
} 

.container > button {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 15px;
  padding: 8px 10px;
  transition: 0.3s;
}

.container > button:hover {
  transition: 0.3s;
  cursor: pointer;
  color: #d8d8d8;
}