.container {
  max-width: 350px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
}

.container span {
  color: #fff;
  user-select: none;
  padding: 5px 0 5px 10px;
}

.container span:hover {
  cursor: pointer;
}

.btns {
  display: none;
}

.btns.mostrar {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2px;
}